html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#loading-hover {
  opacity: 0.7;
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}
#music {
  display: none;
}
/* demo.php
 *============================*/
.swiper-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.swiper-slide {
  position: relative;
}
.swiper-slide .sub {
  position: absolute;
  width: 80%;
  left: 10%;
}
.swiper-slide .top {
  height: 10%;
  top: 5%;
}
.swiper-slide .header {
  top: 20%;
  height: 15%;
}
.swiper-slide .body {
  top: 40%;
  height: 40%;
}
.swiper-slide .footer {
  top: 85%;
  height: 10%;
}
.swiper-slide .music-icon {
  width: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.swiper-slide .background {
  width: 100%;
  height: 100%;
}
.swiper-slide .arrow {
  position: relative;
  width: 19px;
  left: 48%;
  bottom: 50px;
  opacity: 0.7;
}
