/* hacking mixin
 *============================*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 50px;
}
a {
  cursor: pointer;
}
/* index.php
 *============================*/
.head-info {
  padding: 40px 15px 20px;
  text-align: center;
}
.create-btn {
  display: block;
  margin: 10px 0 0 auto;
}
.page {
  margin: 10px;
  height: 140px;
  width: 100%;
  background: #204d74;
  box-sizing: border-box;
  text-align: center;
  line-height: 140px;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 2px #969696;
}
/* create.php
 *============================*/
.preview {
  text-align: center;
}
.preview .refresh {
  margin: 0 0 10px;
}
.config h2 {
  text-align: center;
}
.config input[type="file"] {
  display: inline;
}
.config textarea {
  width: 100%;
  height: 100px;
}
.iphone {
  width: 320px;
  height: 568px;
  border: 1px solid #aaa;
  background: #eee;
  margin: 0 auto;
  position: relative;
}
.iphone .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.iphone .sub {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-slides,
.nav-assets {
  margin: 0 0 10px;
}
.form-inline hr {
  border: 0;
  margin: 5px 0;
}
.form-inline label {
  padding: 0 3px 0;
}
.btn-group.asset-btns {
  margin: 10px 0;
  display: block;
}
.final {
  margin: 10px 0 0;
}
/* detail.php
 *============================*/
#qrcode {
  width: 256px;
  height: 256px;
  margin: 20px auto;
}
/* footer
 *============================*/
.footer {
  text-align: center;
}
